DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=scribbly
DB_SYNC=true
DB_AUTOLOAD=true

JWT_SECRET=your-super-secret-jwt-key
JWT_TOKEN_AUDIENCE=scribbly
JWT_TOKEN_ISSUER=scribbly-api
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400